node-red-json/chapter 7.json
[
    {
        "id": "62e1a168189b83cf",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1dbb399592ac5b97",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "db966c8ae106c117",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a450573f1d84ba91",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1379477b4036a788",
        "type": "mqtt-broker",
        "name": "my mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "459d0c390aef0d1a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7c72f9d470199965",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "tSeriesDB",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "683ea6b906e9fb2b",
        "type": "http in",
        "z": "1dbb399592ac5b97",
        "name": "",
        "url": "/pub/:topic/:payload",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "ad83c88f5d4a36c3"
            ]
        ]
    },
    {
        "id": "4bc4ee57b96c1700",
        "type": "mqtt out",
        "z": "1dbb399592ac5b97",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "459d0c390aef0d1a",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "ad83c88f5d4a36c3",
        "type": "function",
        "z": "1dbb399592ac5b97",
        "name": "create menssage",
        "func": "msg.topic = msg.req.params.topic;\nmsg.payload = msg.req.params.payload;\n\nmsg.qos = 2;\nmsg.retain = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "55b3b9b8367cdda1",
                "4bc4ee57b96c1700"
            ]
        ]
    },
    {
        "id": "55b3b9b8367cdda1",
        "type": "function",
        "z": "1dbb399592ac5b97",
        "name": "create response",
        "func": "msg.payload = {\n    success: true,\n    message:\"published\" + \n            msg.req.params.topic + \"/\"+\n            msg.req.params.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 180,
        "wires": [
            [
                "e09447e0417449b6"
            ]
        ]
    },
    {
        "id": "e09447e0417449b6",
        "type": "http response",
        "z": "1dbb399592ac5b97",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "55dfea74c18431fa",
        "type": "mqtt in",
        "z": "db966c8ae106c117",
        "name": "listen everything",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "459d0c390aef0d1a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "47f5c354c1dd9ee6"
            ]
        ]
    },
    {
        "id": "a7ae6e79593d0804",
        "type": "debug",
        "z": "db966c8ae106c117",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 60,
        "wires": []
    },
    {
        "id": "47f5c354c1dd9ee6",
        "type": "function",
        "z": "db966c8ae106c117",
        "name": "",
        "func": "//Create query\n//get microtime()\n\nvar timestamp = new Date().getTime()/1000;\n\n//pad it with trailing zeroes\n\ntimestamp = timestamp.toString()+\"000\";\n\n//trim to exact length 10 +1 +3\n\ntimestamp = timestamp.substring(0,14);\n\nvar strQuery = \"INSERT INTO thingData (topic, payload,timestamp, deleted) VALUES ('\" + escape(msg.topic) + \"','\" + escape(msg.payload) + \"','\" +timestamp + \"', 0);\";\nmsg.topic = strQuery;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            [
                "340d6b6b77d83ff5"
            ]
        ]
    },
    {
        "id": "340d6b6b77d83ff5",
        "type": "mysql",
        "z": "db966c8ae106c117",
        "mydb": "7c72f9d470199965",
        "name": "",
        "x": 560,
        "y": 60,
        "wires": [
            [
                "a7ae6e79593d0804"
            ]
        ]
    },
    {
        "id": "166de4dffa84dca0",
        "type": "http in",
        "z": "a450573f1d84ba91",
        "name": "",
        "url": "/get/:topic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "baa2ba3b96ce534a"
            ]
        ]
    },
    {
        "id": "11ddd594d9381fac",
        "type": "http in",
        "z": "a450573f1d84ba91",
        "name": "",
        "url": "/get/:topic/last/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "baa2ba3b96ce534a"
            ]
        ]
    },
    {
        "id": "baa2ba3b96ce534a",
        "type": "function",
        "z": "a450573f1d84ba91",
        "name": "create querry",
        "func": "// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\n    msg.req.params.count = 1;\n// build the sql query\nmsg.topic = \"SELECT id,topic,payload,timestamp \" +\n            \"FROM thingData \" +\n            \"WHERE topic='\" + escape(msg.req.params.topic) + \"' \" +\n            \"AND deleted=0 \" +\n            \"ORDER BY id DESC \" +\n            \"LIMIT \" + msg.req.params.count + \";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "569cd570a8dc211a"
            ]
        ]
    },
    {
        "id": "569cd570a8dc211a",
        "type": "mysql",
        "z": "a450573f1d84ba91",
        "mydb": "7c72f9d470199965",
        "name": "",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "1676b7b1af4bf948"
            ]
        ]
    },
    {
        "id": "1676b7b1af4bf948",
        "type": "function",
        "z": "a450573f1d84ba91",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 180,
        "wires": [
            [
                "0b77be41e4c64ec1"
            ]
        ]
    },
    {
        "id": "0b77be41e4c64ec1",
        "type": "http response",
        "z": "a450573f1d84ba91",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "4e6d725c9c830364",
        "type": "inject",
        "z": "62e1a168189b83cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "57854115d37a2d53",
                "1fc105306a4a708c"
            ]
        ]
    },
    {
        "id": "57854115d37a2d53",
        "type": "debug",
        "z": "62e1a168189b83cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "1fc105306a4a708c",
        "type": "mqtt out",
        "z": "62e1a168189b83cf",
        "name": "",
        "topic": "timestamp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "459d0c390aef0d1a",
        "x": 520,
        "y": 120,
        "wires": []
    }
]